body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  padding: 0rem 2rem;
  max-width: 1000px;
  margin: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
}

.nav-container {
  background-color: #113150;
}

nav {
  background-color: #113150;
  color: #fff;
  padding: 0.5rem;
  margin: auto;
  max-width: 1000px;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

footer {
  background-color: #5cb3f0;
  color: #555;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  margin-top: auto;
}